*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font: 62.5%;
}

/* Estilos para el contenedor principal del header */
.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem;
    background: linear-gradient(to right, #000, #333);
    color: wheat; /* Cambia el color de texto según tu preferencia */
  }
  /* #D2B48C amarillo posible */
  /* Estilos para el logo */
 
  /* Estilos para la sección de usuario */
  .user {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  /* Estilos para la imagen de usuario */
  .logo-header {
    width: 4.3rem; 
    height: 4rem; 
    border-radius: 50%; 
    margin-right: 10px; 
  }

  .logo-user{
    border-radius: 50%;
    width: 70px; 
    height: 60px; 

  }
  
  /* Estilos para el nombre del usuario */
  .user h3 {
    font-size: 23px;
    margin: 0;
  }

  .log-out {
    font-size: 23px;
    text-decoration: none;
    color: wheat;
    padding: 1rem;
    transition: background-color 0.6s, color .8s;
    border-radius: 1rem;
  }
  
  .log-out:hover {
    background-color: wheat;
    color: #333;
    border-radius: 1rem;
  }

h2{
  font-family: 'Work Sans', sans-serif;
  font-size: 35px;
  font-weight: 400px;
}
  
