*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font: 62.5%;
}

/* Estilos para el contenedor principal del header */
.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem;
    background-color: #333; /* Cambia el color de fondo según tu preferencia */
    color: #fff; /* Cambia el color de texto según tu preferencia */
  }
  
  /* Estilos para el logo */
  .container-header img {
    width: 80px; /* Ajusta el ancho de la imagen del logo según tu preferencia */
    height: 40px; /* Ajusta la altura de la imagen del logo según tu preferencia */
  }
  
  /* Estilos para el título "Campus Library" */
  .container-header h2 {
    font-size: 24px; /* Cambia el tamaño de fuente según tu preferencia */
    margin: 0; /* Elimina el margen por defecto del encabezado */
  }
  
  /* Estilos para la sección de usuario */
  .user {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  /* Estilos para la imagen de usuario */
  .logo {
    width: 30px; /* Ajusta el ancho de la imagen del usuario según tu preferencia */
    height: 30px; /* Ajusta la altura de la imagen del usuario según tu preferencia */
    border-radius: 50%; /* Aplica bordes redondeados para la imagen del usuario */
    margin-right: 10px; /* Añade un margen a la derecha de la imagen del usuario */
  }
  
  /* Estilos para el nombre del usuario */
  .user h3 {
    font-size: 18px; /* Cambia el tamaño de fuente según tu preferencia */
    margin: 0; /* Elimina el margen por defecto del encabezado */
  }


  
