*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font: 62.5%;
}


::selection {
    background-color: gray;
  }
  
  .container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .formSignUp {
    width: 400px;
    height: 700px;
    background-image: linear-gradient(to bottom, #424242,#212121);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5rem;
    justify-content: center;
  }
  
  .title {
    color: wheat;
    margin: 0;
    padding: .5rem;
    font-size: 2rem;
    font-family: 'Work Sans', sans-serif;
  }
  
  .input {
    margin: 0.5rem 0;
    padding: 1rem 0.5rem;
    width: 20rem;
    background-color: inherit;
    color: wheat;
    border: none;
    outline: none;
  }
  
  .words {
    border-bottom: 1px solid wheat;
    transition: all 400ms;
  }
  
  .username:hover {
    background-color: #424242;
    border: none;
    border-radius: 0.5rem;
  }
  
  .password:hover {
    background-color: #424242;
    border: none;
    border-radius: 0.5rem;
  }
  
  .btn {
    height: 3rem;
    width: 20rem;
    margin-top: 2rem;
    background-color: wheat;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.2rem;
    transition: all 400ms;
    box-shadow: 0 0 10px  antiquewhite, 0 0 10px antiquewhite;
  }
  
  .btn:hover {
    background-color: antiquewhite;
    box-shadow: none;
  }

  .registrarse{
    margin-top: 1rem;
    color: wheat;
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

  /* Estilizar el select */
select {
    margin-top: .7rem;
    width: 20rem;
    padding: .7rem 0.5rem;
    background-color: wheat;
    color: #999;
    border: 1px solid wheat;
    font-size: 16px;
    background-color: #424242;
    border: solid 1px wheat;
    border-radius: 2px;
    outline: none;
    font-size: 15px;
  }
  
  select:focus {
    background-color: #424242;
    

  }
  
  /* Estilizar las opciones */
  select option {
    background-color: #424242;
    color: #999;
    margin: 1rem;
  }
  
  select option:hover {
    background-color: wheat;
    color: #555;
  }